---
import LinkCard from '../components/LinkCard.astro'
import ProfileCard from '../components/ProfileCard.astro'
import { profile } from '../const'
import Layout from '../layouts/Layout.astro'
---

<Layout title={profile.name}>
  <div
    class="relative flex min-h-screen flex-col items-center overflow-x-hidden px-6 py-20 md:px-20 lg:px-32"
  >
    <div
      class="absolute top-0 z-[-2] h-screen w-screen dark:bg-neutral-950"
      style="background-image: radial-gradient(at top left, rgba(236, 72, 153, 0.15), transparent 50%), radial-gradient(at bottom right, rgba(59, 130, 246, 0.15), transparent 50%)"
    >
    </div>

    <ProfileCard />

    <div class="mt-10 grid w-full max-w-[600px] gap-3">
      {
        profile.links.map((link) => (
          <LinkCard link={link} animation="animate-fade-in" />
        ))
      }
    </div>

    <div class="mt-20 -mb-20">
      {/* Footer placeholder */}
    </div>
  </div>
</Layout>
